version: '3.8'

networks:
  rabbitmq-net:
    driver: bridge

services:
  rabbitmq1:
    build:
      context: ./rabbitmq
      dockerfile: Dockerfile
    container_name: rabbitmq1
    hostname: rabbitmq1
    restart: always
    environment:
      - RABBITMQ_NODENAME=rabbit@rabbitmq1
      - RABBITMQ_USE_LONGNAME=false
    ports:
      - "15672:15672"  # UI apenas no nó principal
      - "1883:1883"
      - "5672:5672"
      - "4369:4369"
      - "25672:25672"
    volumes:
      - rabbitmq1_data:/var/lib/rabbitmq
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    networks:
      - rabbitmq-net

  rabbitmq2:
    build:
      context: ./rabbitmq
      dockerfile: Dockerfile
    container_name: rabbitmq2
    hostname: rabbitmq2
    restart: always
    environment:
      - RABBITMQ_USE_LONGNAME=false
      - RABBITMQ_NODENAME=rabbit@rabbitmq2
    volumes:
      - rabbitmq2_data:/var/lib/rabbitmq
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf  # Monta o arquivo de config
    networks:
      - rabbitmq-net
    depends_on:
      - rabbitmq1

  rabbitmq3:
    build:
      context: ./rabbitmq
      dockerfile: Dockerfile
    container_name: rabbitmq3
    hostname: rabbitmq3
    restart: always
    environment:
      - RABBITMQ_USE_LONGNAME=false
      - RABBITMQ_NODENAME=rabbit@rabbitmq3
    volumes:
      - rabbitmq3_data:/var/lib/rabbitmq
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf  # Monta o arquivo de config
    networks:
      - rabbitmq-net
    depends_on:
      - rabbitmq1

  middleware:
    build: .
    container_name: middleware
    volumes:
      - ./middleware.py:/app/middleware.py
    environment:
      - RABBITMQ_HOST=rabbitmq1  # Conecta ao nó principal
    networks:
      - rabbitmq-net
    depends_on:
      - rabbitmq1
    command: ["python", "./middleware.py"]

  sensors:
    build: .
    container_name: sensors
    volumes:
      - ./sensors.py:/app/sensors.py
    environment:
      - RABBITMQ_HOST=rabbitmq1  # Conecta ao nó principal
    networks:
      - rabbitmq-net
    depends_on:
      - rabbitmq1
    command: ["python", "./sensors.py"]

volumes:
  rabbitmq1_data:
  rabbitmq2_data:
  rabbitmq3_data: